* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  height: 5vh;
}

section {
  display: flex;
  gap: 1rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

button {
  width: 7rem;
  height: 5vh;
  border-radius: 12px;
  cursor: pointer
}

a {
  text-decoration: none;
  color: purple;
}